<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="contacts footer__contacts">
                <p class="contacts__item contacts__item--empty">ООО “ВоронежТехМонтаж”</p>
                <a href="tel:+79805394118" class="contacts__item contacts__item--phone">+7 (980) 539-41-18</a>
                <p class="contacts__item contacts__item--address">с. Бабяково, ул. Индустриальная 30,36</p>
                <a href="mailto:vtm-36@yandex.ru" class="contacts__item contacts__item--email">vtm-36@yandex.ru</a>

                <div class="social footer__social">
                    <a href="#" class="social__item" target="_blank">
                        <svg class="social__icon" width="18" height="9" viewBox="0 0 18 9" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprite.svg#vk"/>
                        </svg>

                        <span class="visually-hidden">Мы в VK</span>
                    </a>

                    <a href="#" class="social__item" target="_blank">
                        <svg class="social__icon" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprite.svg#telegram"/>
                        </svg>

                        <span class="visually-hidden">Мы в Telegram</span>
                    </a>

                    <a href="#" class="social__item" target="_blank">
                        <svg class="social__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/sprite.svg#whatsapp"/>
                        </svg>

                        <span class="visually-hidden">Мы в WhatsApp</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container footer__container">
            <a href="#" class="footer__link">Политика конфиденциальности</a>
            <a href="#" class="footer__link">MADE IN INTRID</a>
        </div>
    </div>
</footer>