.header {
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 3;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
}

.header__container {
    display: grid;
    grid-template-columns: 155px 1fr;
    grid-template-rows: 71px 78px;
}

.header__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    position: relative;

    color: #FFFFFF;
}

.header__logo::before {
    width: 149px;
    height: 1px;

    position: absolute;
    top: 50%;
    left: calc(-100% - 16px);

    content: "";

    background-color: rgba(255, 255, 255, 0.10);
    pointer-events: none;
}

.header__logo::after {
    width: 1154px;
    height: 1px;

    position: absolute;
    top: 50%;
    left: calc(100% - 30px);

    content: "";

    background-color: rgba(255, 255, 255, 0.10);
    pointer-events: none;
}

.header__contacts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 22px;
    padding-right: 9px;

    position: relative;

    color: #FFFFFF;
}

.header__contacts::before {
    width: 1px;
    height: 50px;

    position: absolute;
    top: 11px;
    left: 0;

    content: "";

    background-color: rgba(255, 255, 255, 0.10);
}

.header__navigation {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 12px;

    position: relative;
}

.header__navigation::before {
    width: 1112px;
    height: 1px;

    position: absolute;
    bottom: 16px;
    left: 12px;

    content: "";

    background-color: rgba(255, 255, 255, 0.10);
}

.header__toggle {
    display: none;
    width: 49px;
    height: 49px;
    border: none;
    align-self: center;
    margin-left: auto;
    padding: 0;

    background-color: transparent;
}

.header__toggle-line {
    transition: all 200ms linear;
    transform-origin: center;
}

@media (min-width: 1100px) {
    .header--scrolled:not(.header--white) {
        background-color: #333333;
    }

    .header--scrolled .header__container {
        grid-template-columns: 75px 1fr;
        grid-template-rows: 0 78px;
    }

    .header--scrolled .header__logo::before,
    .header--scrolled .header__logo::after {
        content: none;
    }

    .header--scrolled .header__contacts {
        display: none;
    }

    .header--white {
        background-color: #FFFFFF;
    }

    .header--white .header__logo {
        color: #000000;
    }

    .header--white .header__logo::before,
    .header--white .header__logo::after {
        background-color: rgba(51, 51, 51, 0.10);
    }

    .header--white .header__contacts {
        color: rgba(51, 51, 51, 0.70);
    }

    .header--white .header__contacts::before {
        background-color: rgba(51, 51, 51, 0.10);
    }

    .header--white .header__navigation::before {
        background-color: rgba(51, 51, 51, 0.10);
    }

    .header--white .header__navigation-link {
        color: #333333;
    }

    .header--white .header__social {
        color: #707070;
    }
}

@media (max-width: 1100px) {
    .header {
        transition: all 200ms linear;
        overflow: hidden;
    }

    .header__container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 67px 0;
    }

    .header__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .header__logo::before,
    .header__logo::after {
        content: none;
    }

    .header__contacts {
        display: none;
    }

    .header__navigation {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        width: 100%;
        padding: 0 0 18px 0;

        visibility: hidden;
    }

    .header__navigation::before {
        content: none;
    }

    .header__navigation-list {
        flex-direction: column;
        align-items: center;
    }

    .header__toggle {
        display: block;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .header--expanded {
        background-color: #333333;
    }

    .header--expanded .header__container {
        grid-template-rows: 67px auto;
    }

    .header--expanded .header__navigation {
        visibility: visible;
    }

    .header--expanded .header__toggle-line:nth-of-type(1) {
        transform: translate(-8px, 6px) rotate(45deg);
    }

    .header--expanded .header__toggle-line:nth-of-type(2) {
        transform: translateX(100px);
        opacity: 0;
    }

    .header--expanded .header__toggle-line:nth-of-type(3) {
        transform: translate(-4px, -2px) rotate(-45deg);
    }

    .header--expanded .header__toggle-line:nth-of-type(4) {
        transform: translateX(100px);
        opacity: 0;
    }

    .header__navigation-link {
        padding: 18px 0;
        display: block;
    }
}