.home-background-slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 318px;
    left: 0;
    z-index: 0;
}

@media (max-width: 800px) {
    .home-background-slider {
        display: none;
    }
}