.home-slider {
    width: 570px;
    margin-left: 0;
}

.home-slider__text {
    margin-top: 0;
    margin-bottom: 32px;

    color: #FFFFFF;
    font-size: 30px;
    font-family: "Benzin", "Arial", sans-serif;
    font-weight: 700;
}

.home-slider__text-large {
    font-size: 50px;
}

@media (max-width: 800px) {
    .home-slider {
        width: 100%;
    }

    .home-slider__text {
        margin-bottom: 16px;

        font-size: 16px;
    }

    .home-slider__text-large {
        font-size: 26px;
    }
}