.home {
    padding-top: 339px;

    position: relative;
    z-index: 2;

    background-image: linear-gradient(to bottom, #000000, #000000 80%, transparent 80%);
}

.home::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 318px;
    left: 0;
    z-index: 1;

    content: "";

    background: rgba(0, 0, 0, 0.5) url("../img/home-background.webp") no-repeat center / cover;
    opacity: 0.5;
}

.home__wrapper {
    margin-top: 158px;

    position: relative;
    z-index: 1;
}

@media (max-width: 800px) {
    .home {
        padding-top: 115px;

        background: #000000 url("../img/background-slider.webp") no-repeat center;
        background-position: inherit;
    }

    .home__wrapper {
        margin-top: 70px;
    }
}