.section-7 {
    padding-top: 30px;
    padding-bottom: 116px;

    background-image:
            url("../img/section-7-background-1.webp"),
            url("../img/section-7-background-1.webp"),
            url("../img/section-3-background-1.webp"),
            url("../img/section-3-background-2.webp");
    background-repeat: no-repeat;
    background-position: top left, bottom right, top right, bottom left;
}

@media (max-width: 800px) {
    .section-7__service-cards {
        margin-top: -110px;
    }
}
