.slider__list {
    margin: 0;
    padding: 0;
}

.slider__controls {
    display: flex;
    margin-top: 24px;
    gap: 20px;
}

.slider__control {
    width: 40px;
    height: 38px;
    border: 1px solid #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    position: initial;

    color: #B4B4B7;

    background-color: #FFFFFF;
}

.slider__control:not(.slider__control--disabled):hover {
    color: var(--orange-color);
}

.slider__control::after {
    content: none;
}

.slider__control--left .slider__control-icon {
    transform: rotate(180deg);
}

.slider__control--left {
    border-right: none;

    border-radius: 2px 0 0 2px;
}

.slider__control--right {
    border-left: none;

    border-radius: 0 2px 2px 0;
}

.slider__control--disabled {
    opacity: 0.4;
    cursor: initial;
}

.slider__pagination {
    width: auto !important;
    display: flex;
    align-items: center;
    gap: 20px;

    position: initial;

    color: #FFFFFF;
}

.slider__pagination-bullet {
    border: none;
    padding: 0;

    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    background-color: transparent;
    cursor: pointer;
    transition: all 200ms linear;
}

.slider__pagination-bullet--active {
    color: var(--orange-color);
    font-size: 20px;
    font-weight: 700;
}

.slider__buttons {
    display: flex;
}