.social {
    display: flex;
    gap: 16px;
    align-items: center;

    color: #FFFFFF;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;

    color: inherit;
    text-decoration: none;

    opacity: 0.75;
}

.social__item:hover {
    color: var(--orange-color);
}