.subtitle {
    margin: 0;

    color: #333333;
    font-size: 25px;
    font-family: "Benzin", "Arial", sans-serif;
    font-weight: 700;
    line-height: 35px;
}

.subtitle--white {
    color: #FFFFFF;
}

.subtitle--mb-55 {
    margin-bottom: 55px;
}

.subtitle--mb-30 {
    margin-bottom: 30px;
}

.subtitle--mb-10 {
    margin-bottom: 10px;
}

.subtitle--mt-20 {
    margin-top: 20px;
}