.text {
    margin: 0;

    font-size: 16px;
}

.text--white {
    color: #FFFFFF;
}

.text--medium {
    font-size: 20px;
}

.text--bold {
    font-weight: 700;
}

.text--semi-bold {
    font-weight: 600;
}

.text--center {
    text-align: center;
}

.text--w-60 {
    width: 60%;
}

.text--w-70 {
    width: 70%;
}

.text--mb-16 {
    margin-bottom: 16px;
}

.text--mb-40 {
    margin-bottom: 40px;
}

@media (max-width: 800px) {
    .text {
        font-size: 14px;
    }

    .text--medium {
        font-size: 16px;
    }
}