img {
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;

    background-color: #FFFFFF;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}